# api key from Resend, used in api/contact.ts
SMTP_PASS=

# set the "from" address once you've verified a domain with Resend, necessary to send
# emails to any address other than your resend account's address
SENDER_EMAIL=
