# api key from Resend, used in api/contact.ts
RESEND_API_KEY=

# set the "from" address once you've verified a domain with Resend, necessary to send
# emails to any address other than your resend account's address
SENDER_EMAIL=
